<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lab.sadba.loginparent">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/parent_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Ui.MainActivity"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Ui.HomeActivity" />
        <activity
            android:name=".Ui.TestActivity"
            android:label="@string/title_activity_test"
            android:theme="@style/AppTheme" />
        <activity android:name=".Ui.EnfantActivity" />
        <activity android:name=".Ui.MenuActivity" />
        <activity android:name=".Ui.EmploiActivity" />
        <activity android:name=".Ui.NoteActivity" />
        <activity android:name=".Ui.EvalActivity" />
        <activity android:name=".Ui.InfoEtabActivity" />
        <activity android:name=".Ui.InfosEleveActivity" />
        <activity android:name=".SlideActivity" />
        <activity android:name=".Ui.Webview" />
        <activity android:name=".Ui.AbscenceActivity" />
        <activity android:name=".Ui.DossierActivity" />
        <activity android:name=".Ui.ProfilParentActivity" />
        <activity android:name=".EnseignantsActivity"></activity>
    </application>

</manifest>